 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Jamie Cahn is a Game Developer who focuses in the area of Level Design. He uses Unity and C# to create most of his work although he does also have experience working with Unreal Engine 4 and C++ as well as UE's Visual Scripting system. Jamie also spends his free time playing video games, snowboarding, running, and building communities, he is proficient in GSuite and has created several GSuite templates for use with Job Applications, Sorting, etc.</p>
                </div>
                <div class="col-lg-4">
                    <p>Jamie started programming at the age of 10, by 12 he built his first Windows application, and by 15 he created his own Android and iOS applications. Though his adult years, Jamie spent a lot of time playing video games and learned a lot about the game development process. By 22 he started building his own games for iOS, Android, and Windows. Now, Jamie has been certified as a XR Developer and continues to work on games in the Virtual Reality and Augmented Reality area.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jcahnProgramming/jcahnProgramming.github.io/blob/main/documents/JCahn_GameDev_Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-file"></i> View My Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
